.movies-container {
  height: 87.6vh;
}
.movieList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1vw 2vw;
}
.poster-container {
  width: 10vw;
  height: 18vw;
  padding: 1vw;
  background: #ffffff;
}
.poster {
  width: 100%;
  height: 95%;
}
.poster:hover {
  transform: scale(1.25);
}
.next-button-container {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4vh;
}
.next-button {
  width: 12vw;
}
.next-button:hover {
  color: #ffffff;
}
a[target="_blank"] {
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .movieList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 4vw;
  }
  .poster-container {
    width: 90vw;
    height: 80vh;
    padding: 1vw;
    background: #ffffff;
  }
  .poster {
    width: 100%;
    height: 95%;
  }
  .poster:hover {
    transform: scale(1);
  }
  .next-button {
    width: 40vw;
  }
}

/* movie-details */
#dialog-content {
  background: #2d2626;
  color: #ffffff;
}
.movie-details-container {
  display: flex;
  flex-direction: row;
}
.details-poster-container {
  width: 70vw;
  height: 68vh;
}
.details-poster {
  width: 100%;
  height: 100%;
}
.details-other-container {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  width: 135vw;
}
.overview {
  font-family: cursive;
  font-size: 18px;
}
.details-other-container div {
  margin-bottom: 10px;
}
.details-other-container div a {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .details-poster-container {
    display: none;
  }
  .details-other-container {
    width: 72vw;
    padding: 0vw;
  }
  .movie-home-page {
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
  }
  .MuiTypography-root.MuiTypography-h6 {
    padding: 0 25px;
  }
}
