.header-view {
  background: #21252d;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #21252d;
  color: #ffffff;
  font-weight: bold;
  height: 12.4vh;
}
.header-mobile-container {
  display: none;
}
.header-container a {
  text-decoration: none;
  color: #ffffff;
}
h1,
h3 {
  font-family: cursive;
}
h1 {
  /* color: #cc0016; */
  color: #64dcb0;
}
h3:hover {
  /* color: #cc0016; */
  color: #64dcb0;
  font-size: 1.2em;
  cursor: pointer;
}
.active{
  color: #99e4c8 !important;
}
@media only screen and (max-width: 600px) {
  .header-container {
    display: none;
  }
  .header-mobile-container {
    display: block;
    overflow: hidden;
    position: relative;
    font-family: cursive;
  }
  .header-mobile-container a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 26px; */
    display: block;
  }
  .header-mobile-container a.icon {
    background: #64dcb0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  #myLinks {
    display: none;
  }
  #myLinks a:active {
    color: #cc0016;
  }
  #home {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-left: 12vw;
  }
}
